.Hero-Image {
    overflow: hidden;
    width: 99vw;
    height: 100vh;
    /* Maintains aspect ratio */
    /* display: block; */
    position: relative;
    opacity: 0.7;
}

.Hero-Img-Div {
    
    display: block;
}


