.Navbar-main {
    display: flex;
    /* border: 1px solid black; */
    justify-self: center;
    justify-items: start;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* max-width: 900px; */
    height: 106px;
    /* margin-top: -5px; */
    /* border-bottom: 1px solid rgb(174, 174, 174); */
}
.Navbar-main {
    background: transparent; /* Remove any background */
    position: absolute;      /* Place it over the image */
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
}

.WanderWise-Logo {
    height: 100px;
    width: 370px;
    margin-top: 5px;
}



.Navbar-link {
    /* border: 1px solid black; */
    /* width: 150px; */
    text-decoration: none;
    color: white;
}

.Navbar-link:hover {
    color: rgb(94, 182, 253);
}

.main-links {
    display: flex;
    align-items: center;
    /* flex-direction: row; */
    /* border: 1px solid black; */
    height: 100px;
    width: 450px;
    gap: 20px;

}

