.Hero-Image {
    overflow: hidden;
    overlay:auto;
    width: 99vw;
    height: 100vh;
    /* Maintains aspect ratio */
    /* display: block; */
    position: relative;
}

.Hero-Img-Div {
    opacity: 0.9;
    filter: blur(0.5PX);
    display: block;
    overlay: black;
    /* z-index: 0; */
}


