.Navbar-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 106px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: transparent;
    transition: background 0.3s, box-shadow 0.3s;
    padding: 0 40px;
    /* position: relative is needed for the pseudo-element */
    position: sticky;
}

.Navbar-main:after {
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: -1;
    transition: background 0.3s;
}

.Navbar-main.scrolled:after {
    background: rgba(68, 68, 68, 1); /* or any color you want */
}


.Navbar-main {
    display: flex;
    justify-self: center;
    justify-items: start;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: rgb(255, 255, 255);
}
.WanderWise-Logo {
    height: 90px;
    width: 330px;
    margin-top: -15px;


}



.Navbar-link {
    /* border: 1px solid black; */
    /* width: 150px; */
    text-decoration: none;
    color: black;
}

.Navbar-link:hover {
    color: rgb(94, 182, 253);
}

.main-links {
    display: flex;
    align-items: center;
    /* flex-direction: row; */
    /* border: 1px solid black; */
    height: 100px;
    width: 450px;
    gap: 20px;

}